.App {
  background-color: white;
}

.AppDark {
  background-color: gray;
}

.btn {
  text-align: center;
  width: 20%;
  margin-left: 40%;
  font-size: 15px;
  background-color: rgb(166, 210, 235);
  height: 30px;
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.playersContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.playerCard {
  width: 40%;
  border: 1px solid black;
  margin: 2% 0;
  background-color: lightgrey;
  padding: 3%;
  text-align: center;
}

.display_none {
  display: none;
}
